.text-window-wrapper {
    height: 30%;
    width: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.text-window {
    height: 100%;
    background-color: var(--green);
    border-top: 3px solid var(--ivory);
    color: var(--ivory);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text-window p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 15rem;
}

@media screen and (max-width: 1050px) {
    .text-window p {
        margin: 0 8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .text-window p {
        margin: 0 4rem;
    }
}

